.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    /*background-color: #2f74c0;*/
    font-family: 'Lucida Sans';
  }
.container{
  width:100%;
}
  .form-label{
    min-width: 100px;
  }

  .nav-link {
    color: #2596be;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px; /* Adjust as needed */
  }

  .table-container {
    width: 100%; /* Full width */
    overflow-x: auto; /* Allow horizontal scrolling */
  }
  
  table {
    width: 100%; /* Full table width */
    height: auto; /* Adjust height based on content */
    border-collapse: collapse;
    background-color: white;
    margin: 0; /* Remove default margin */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a clean look */
  }
  
  th, td {
    padding: 15px;
    border: 1px solid #ddd; /* Table border */
    text-align: left; /* Left-aligned content */
    font-size: 16px;
  }
  
  th {
    background-color: #007bff; /* Header background */
    color: white; /* Header text color */
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f4f4f4; /* Alternate row color */
  }
  
  tbody tr:hover {
    background-color: #e0f7fa; /* Highlight row on hover */
    
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    th, td {
      padding: 10px; /* Reduce padding for small screens */
      font-size: 14px; /* Slightly smaller text */
    }
  
    table {
      width: 100%; /* Ensure table takes full width on smaller screens */
    }
  }
  
  
  
  .custom-btn {
    background: linear-gradient(135deg, #4cafef, #007bff);
    color: #fff !important;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .custom-btn:hover,.nav-back {
    background: linear-gradient(135deg, #007bff46, #0056b3);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
  
  .custom-btn:active {
    transform: translateY(0);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  
 
